
.wholePage2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.AnnImage {
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: #071026;
  width: 100%;
  height: 90%;
}

.centeringFactor{
  align-items: center;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    color: #071026;
}
