body {
    background: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.page {
  margin: 50px;
  margin-top: 100px;
  padding-top: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2 {
    font-weight: bold;
    margin: 0 0 15px;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: #071026;
    font-family: 'Doppio One', sans-serif;
}

h2 {
    font-size: 1.5em;
    color: #071026;
    font-family: 'Doppio One', sans-serif;
}
