.catalogBox{
	flex: 1;
	text-align: left;
  font-family: 'Doppio One', sans-serif;
  color: #071026;
}

.catalogForm{
	flex: 1;
	padding-left: 2em;
	padding-right: 2em;
  font-family: 'Doppio One', sans-serif;
  color: #071026;
}

.catalogList{
	padding-left: 2em;
	padding-right: 2em;
  font-family: 'Doppio One', sans-serif;
  color: #071026;
}

.item{
	padding-left: 1em;
	padding-right: 1em;
  font-family: 'Doppio One', sans-serif;
  color: #071026;
}

.Page{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Doppio One', sans-serif;
  color: #071026;
}
