
.wholePage {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.HomeImage {
  border-bottom: 5px solid;
  border-color: #071026;
  width: 100%;
  height: 90%;
}

.centeringFactor{
  align-items: center;
}
